{% assign entries = include.entries | default: site[include.collection] | where_exp: "post", "post.hidden != true" %}

{% if include.sort_by %}
  {% assign entries = entries | sort: include.sort_by %}
{% endif %}

{% if include.sort_order == 'reverse' %}
  {% assign entries = entries | reverse %}
{% endif %}

{% if include.limit %}
  {% assign limit = include.limit %}
{% else %}
  {% assign limit = entries.size %}
{% endif %}


{%- for post in entries limit: limit -%}
  {% include archive-single.html type=include.type %}
{%- endfor -%}
