<div class="portfolio">
  <h1 class="portfolio__title">Portfolio</h1>
  <h2 class="portfolio__subtitle">TECHNICAL CHALLENGES & LEARNINGS</h2>

  <!-- 회사별 반복 시작 -->
  <div class="portfolio__company-group">
    <h2 class="portfolio__company-title">레몬베이스 | Backend Engineer | 2023.08 ~ 2025.06 (1년 10개월)</h2>

    <!-- 프로젝트 반복 시작 -->
    <div class="portfolio__project">
      <h3 class="portfolio__project-group-title">리뷰(평가) 도메인 개발 / 운영</h3>
      <!-- 여러 프로젝트를 묶는 큰 제목 -->
      <div class="portfolio__project-group">
        <div class="portfolio__project">
          <h4 class="portfolio__project-title">리뷰/평가 도메인의 legacy 리팩토링, 제품 고도화 등 고객 문제 해결</h4>
          <div><strong>역할:</strong> HR 도메인 중 리뷰/평가 도메인에서의 고객 문제 해결</div>
          <div class="portfolio__skills"><strong>기술 스택:</strong> Python, Django, MySQL, Amplitude, Hotjar, DDD</div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 정의</div>
            <div>
              상대 평가, 리뷰 결과지 고도화, 정량평가 등 리뷰/평가 도메인을 개발했습니다.
              <br><strong>고객 피드백과 소통 등을 통해 고객의 진짜 문제</strong>를 이해하고 <strong>도메인 개념을 정립</strong>하여 <strong>비즈니스 임팩트</strong>를 만들어냈습니다.
            </div>
          </div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 해결</div>
            <ul>
              <li>직접 Figma를 활용해 기능 복잡도를 줄이는 사용자 흐름을 설계하고, <strong>팀에 솔루션을 제안</strong>했습니다.
                <ul>
                  <li>
                    하나의 평가 프로젝트를 생성하는 시점에, 특정 기능을 ON/OFF함에 따라 다른 설정값들이 영향을 받고, 평가를 진행하는 모든 화면에서 분기가 일어나 어드민과 사용자 모두 이해하기 어려운 UX를 제공했습니다.
                  </li>
                  <li>
                    이를 기본값의 형태로 제공하므로써, 일괄된 플로우로 복잡도도 낮으며 해당 기능을 사용하지 않는 고객 또한 큰 학습 비용없이 사용할 수 있음을 Figma 시안을 통해 보였습니다.
                    <br>이 제안은 <strong>비즈니스 팀과 고객 인터뷰에서도 긍정적인 피드백을 받아 반영 서비스 반영</strong>까지 이어졌습니다.
                  </li>
                </ul>
              </li>
              <li>VoC와 고객 인터뷰를 통해 요구사항을 분석하고, Hotjar 설문 및 Amplitude 데이터 분석을 통해 개선 사항을 도출했습니다.
                <ul>
                  <li>
                    기능 고도화 설정이 복잡해져 빠른 설정이 어려워지고, 특히 규모가 작은 고객사에게는 불필요한 기능으로 오히려 불편하다는 피드백을 수용하였습니다.
                    <br>다양한 고객 규모를 지원 등 솔루션 차원에서의 고려 사항을 체크리스트로 만들어 높은 제품 퀄리티를 유지하도록 했습니다.
                  </li>
                  <li>모바일 앱에서 리뷰 작성 기능을 개발하는 과정에서, <strong>리소스 제한으로 지원하지 못한 케이스에 대해 Amplitude 데이터를 수집</strong>하여 해당 기능의 <strong>필요성과 우선순위</strong>를 파악했고, 향후 모바일 개발 scope을 정의하는데 활용했습니다.</li>
                </ul>
              </li>
           </ul>
          </div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">성과 & 배움</div>
            <ul>
              <li><strong>SIP(사내 비즈니스 임팩트 지표) 총 240점 차감</strong>
                <ul>
                  <li>리뷰 도메인 전체 점수의 약 25% 차지하며, 이는 <strong>기능 고도화가 실질적인 고객 만족과 문제 해결로 이어졌음</strong>을 의미합니다.</li>
                </ul>
              </li>
              <li>결과를 구현해내는 개발자가 아닌 문제 정의 단계부터 참여해 솔루션을 제시하며, <strong>모든 과정에서 팀과 함께 일하는 것을 중요</strong>시합니다.</li>
            </ul>
          </div>
        </div>

        <hr class="portfolio__project-divider"/>

        <div class="portfolio__project">
          <h4 class="portfolio__project-title">제품 성장에 따른 API 성능 최적화</h4>
          <div><strong>역할:</strong> 서버 사이드 페이지네이션 구현 및 제품 전반 성능 병목 개선</div>
          <div class="portfolio__skills"><strong>기술 스택:</strong> Python, Django, MySQL, Datadog</div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 정의</div>
            <div>
              개발자는 문제가 발생할 수 있는 지점들을 미리 파악하고, 비즈니스 상황에 맞춰 적합하게 스스로 개선해야합니다.
              <br>제품 성장에 따라 예상되는 성능 문제를 사전에 개선하고 비즈니스 임팩트로 연결했습니다.
            </div>
          </div>

          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 해결</div>
            <ul>
              <li>리뷰 목록에 카테고리를 지원하는 프로젝트에서 성능 문제를 예상하고, 서버 사이드 페이지네이션을 공통 모듈로 만들어 개선했습니다.
                <ul>
                  <li>
                    비즈니스가 성장함에 따라 성능 문제가 충분히 예상되는 지점이었습니다.
                    <br>프로젝트의 기간을 준수하면서 서버 사이드 페이지네이션을 공통 모듈로 만들어 성능 문제를 사전에 방지했습니다.
                  </li>
                  <li><strong>'나중에 고치자'는 태도를 가능한 지양</strong>합니다.</li>
                </ul>
              </li>
              <li>데이터 양을 고려해 검색 결과에 따라 필터 옵션이 동적으로 변하도록 정책을 제안하였고, 필터 결과가 없는 필터는 제외하도록 구현했습니다.</li>
              <li>해당 프로젝트 마무리 후 다음 분기에 <strong>약 2만 명 규모의 글로벌 기업</strong>이 구독하였고, 서버 사이드 페이지네이션을 제품 전반에 적용해 성능 상 병목이 되는 지점들을 빠르게 개선했습니다.</li>
           </ul>
          </div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">성과 & 배움</div>
            <ul>
              <li>구성원 조회 기준 성능 <strong>18.2초 → 2.2초</strong>로 단축</li>
              <li><strong>성능 개선 및 구성원 2만 명 규모의 글로벌 기업 도입</strong>
                <ul>
                  <li>병목을 사전에 제거하여 <strong>VoC 없이 리뷰를 마무리했습니다.</strong></li>
                  <li>
                    서비스에 발생할 수 있는 문제를 예측하고, 상황이 발생했을 때의 리스크와 기회 비용을 잘 따져 개선하는 것 또한 개발자의 몫입니다.<br>
                    지금 당장 시간을 조금 더 쓰더라도, <strong>결국에는 우리의 속도를 올리는 일감들을 잘 판단하고 수행</strong>하는 것이 얼마나 중요한 일인 지 배웠으며, 비즈니스에 성과로 이어진 경험입니다.
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <hr class="portfolio__project-divider"/>

        <div class="portfolio__project">
          <h4 class="portfolio__project-title">관리자가 다른 사용자의 계정으로 로그인할 수 있는 기능(Master Login) 구현</h4>
          <div><strong>역할:</strong> 읽기 전용 계정 미들웨어 개발 및 조회 불가능 정보 마스킹 처리 개발</div>
          <div class="portfolio__skills"><strong>기술 스택:</strong> Python, Django, MySQL</div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 정의</div>
            <div>
              관리자 계정이 특정 사용자 계정으로 로그인해 사용자가 실제로 마주하는 화면을 확인할 수 있도록 Master Login 기능을 설계 및 구현했습니다.
              <br>권한 인증 구조를 재설계하며, <strong>발생 가능한 보안·운영 리스크를 체계적으로 관리하며 프로젝트를 마무리하는데 집중</strong>했습니다.
              <br>session 관리와 민감 데이터 접근 제어 같은 기술적 문제도 해결하며, 어드민이 안정적으로 평가를 운영할 수 있도록 구현했습니다.
            </div>
          </div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 해결</div>
            <ul>
              <li>기존의 데모 계정을 <strong>읽기 전용 계정으로 추상화했고, 인터페이스 기반으로 동작하도록 미들웨어를 개선</strong>했습니다.
                <ul>
                  <li>민감한 부문에 대한 개선으로 데모 계정과 미들웨어 등의 기존 구현을 기반으로 테스트 케이스를 보강하고 변경 사항에 따른 리스크를 관리했습니다.</li>
                </ul>
              </li>
              <li>마스터 로그인 세션 기반 권한 인증 구조를 설계하고, 동시 요청(racing)과 세션 충돌을 방지하도록 구현했습니다.
                <ul>
                  <li>마스터 로그인의 로그아웃과 다른 API의 racing condition에서, session id가 다시 덮여쓰이는 경우가 발생했습니다.</li>
                  <li>로그아웃을 Redirect로 변경해 racing하는 XHR 요청을 무시하도록 문제를 해결했습니다.</li>
                </ul>
              </li>
              <li>마스터 로그인 상태에서 조회할 수 없는 민감 데이터는 마스킹해 접근이 불가능하도록 했습니다.
                <ul>
                  <li>전체 제품에서의 정책들이 정리되어 있지 않았고, 먼저 코드 기반으로 정리해 정책을 고안했습니다.</li>
                  <li>마스터 로그인 상태에서 볼 수 없음을 응답 객체에 정의하고, 응답값을 serialize할 때 마스킹이 되도록 구현했습니다.</li>
                </ul>
              </li>
              <li>마스터 로그인 후 호출된 API에 대한 보안 감사를 남기는 등 보안 이슈를 관리했습니다.</li>
            </ul>
          </div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">성과 & 배움</div>
            <ul>
              <li><strong>Master Login 기능 도입 후 2개월간 고객사 30% 이상 사용</strong>, Hotjar 설문 결과 <strong>만족도 4/5점 초과</strong></li>
              <li>전체 제품에 적용하는 프로젝트로 <strong>사이드이팩트와 오류 없이 프로젝트 완료</strong></li>
            </ul>
          </div>
        </div>

        <hr class="portfolio__project-divider"/>

        <div class="portfolio__project">
          <h4 class="portfolio__project-title">제품 별 해야 할 일, 알림 개편 등 홈 화면 개편</h4>
          <div><strong>역할:</strong>제품 별 해야 할 일(Task) 설계 및 구현</div>
          <div class="portfolio__skills"><strong>기술 스택:</strong> Python, Django</div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 정의</div>
            <div>
              사용자가 리뷰, 1:1, 목표, 서베이 등 다양한 제품에서 해야 할 일을 한 눈에 확인하기 어렵다는 문제가 있었습니다.
              <br>이에 따라 홈 화면 개편 프로젝트의 일환으로, 제품 전반에 공통 적용 가능한 해야 할 일(Task) 도메인의 설계 및 구현을 담당했습니다.
              <br>MSA, 이벤트 기반 구조와 같은 infra 고민도 함께 했던 프로젝트입니다.
            </div>
          </div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 해결</div>
            <ul>
              <li>알림과 해야 할 일(Task) 도메인을 별도 서버로 분리하며, 인프라적 관점에서의 확장성과 안정성 확보, 팀 차원에서의 운영·관리 리스크 최소화라는 두 가지 관점에서 아키텍처 설계를 고민했습니다.
                <ul>
                  <li>알림/할 일(Task) 도메인을 별도 서비스에서 처리하고 Event Driven 구조에 적합하다고 판단해 아키텍처를 설계했습니다.</li>
                  <li>단, 당시 팀의 규모와 비즈니스 상황상 MSA를 유지·보수할 여력이 없다고 판단해, 기존 구조 내에서의 클린 아키텍처에 집중했습니다.</li>
                </ul>
              </li>
              <li><strong>Django ORM의 한계를 극복하고 도메인 계층을 분리하기 위한 Task 아키텍처를 설계</strong>했습니다.
                <ul>
                  <li>Django ORM 모델은 Django Query와 강하게 결합되어 있어, 순수한 도메인 모델로의 동작이 어렵고, 테스트 시 mocking 또한 복잡합니다.</li>
                  <li>계층별 역할을 분리하여 ORM에서는 TaskableMixin으로 Task 지원을 명시하고, 도메인 계층에서는 Task[T: TaskableMixin] 추상 모델로 비즈니스 로직을 처리하도록 하여 두 계층 간의 의존성을 완전히 분리했습니다.</li>
                  <li>결과적으로 모든 도메인에서 <strong>인터페이스에 따라 Task를 정의하는 것으로 해야 할 일 관리가 가능하도록 했으며, 도메인 로직의 단위 테스트가 DB 의존성 없이 가능</strong>해졌습니다.</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="portfolio__section portfolio__section--result">
            <div class="portfolio__project-content-title">성과 & 배움</div>
            <ul>
              <li><strong>홈 화면 전면 개편과 함께 사용자별 해야 할 일을 일관되게 제공</strong>해, 제품 내 접근성과 사용성을 향상했습니다.</li>
              <li>MSA 전환 여부를 기술적 관점이 뿐 아닌 <strong>비즈니스 상황과 운영 리스크를 고려해 의사결정</strong>한 경험을 쌓았습니다.</li>
            </ul>
          </div>
        </div>
      </div>

      <hr class="portfolio__project-group-divider"/>

    </div>
    <div class="portfolio__project">
      <h3 class="portfolio__project-group-title">다수 TF 진행 및 비즈니스 임팩트 창출</h3>
      <div class="portfolio__project-group">
        <div class="portfolio__project">
          <h4 class="portfolio__project-title">Magic Link 기반 비로그인 접근 지원</h4>
          <div><strong>역할:</strong> 비로그인 인증 설계 및 구현 전반</div>
          <div class="portfolio__skills"><strong>기술 스택:</strong> Python, Django, MySQL, Kafka, NHN SMS, SendGrid</div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 정의</div>
            <div>
              구성원의 가입 절차 없이 사용하길 원하는 고객사의 경우, 제품 사용이 어려웠습니다. 비로그인 권한 인증을 구축하고, 특정 제품을 사용할 수 있도록 지원한 프로젝트입니다.
              <br><strong>타 스쿼드의 업무를 extra mile로 지원</strong>한 프로젝트로 인증 설계부터 구현 전반을 담당하여 진행했습니다.
              <br>비로그인 상태에서도 접근할 수 있는 Magic Link 기능을 구현하며, 기존 권한 인증 구조와의 사이드 이펙트와 같은 리스크를 없애는데 초점을 맞췄습니다.
            </div>
          </div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 해결</div>
            <ul>
              <li>인증 로직은 토큰 기반으로 설계하였으며, 유효 시간, 토큰 무효화, 특정 엔드포인트에만 접근 허용 등 보안 요구사항을 고려해 구현했습니다.
                <ul>
                  <li>인증 상태, 비로그인 상태에서 기존 엔드포인트 접근 시 발생할 수 있는 <strong>모든 리스크를 테스트 케이스와 POC를 통해 프로젝트 초반에 사전 관리</strong>했습니다.</li>
                  <li>Django의 미들웨어 특성상 기존 권한 인증과 비로그인 인증이 혼재될 때의 문제를 발견하고, 비로그인 인증은 decorator를 적용한 API에 한정하도록 구조를 개선했습니다.</li>
                </ul>
              </li>
              <li>Magic Link는 <strong>SMS와 이메일로 발송</strong>하도록 구성했습니다.
                <ul>
                  <li>비로그인 상황에서 접근성을 높이기 위해 SMS도 지원해야함을 제안했습니다. 고객이 겪게될 문제를 항상 고려합니다.</li>
                  <li>Outbox Pattern을 사용해 SMS/Email 발송 이벤트를 생성하고, Kafka 기반 비동기 처리하였습니다.</li>
                </ul>
              </li>
            </ul>
         </div>
          <div class="portfolio__section portfolio__section--result">
            <div class="portfolio__project-content-title">성과 & 배움</div>
            <ul>
              <li><strong>엔터 프라이즈 기업 도입 및 도입 기업의 Magic Link 서베이 참여율 80% 상회</strong>
                <ul>
                  <li>SMS 지원으로 해당 기업이 이전에 다른 플랫폼을 통해 서베이를 했을 때의 참여율을 상회하는 결과를 얻었습니다. 고객의 문제를 해결하기 위해 몰두하며, <strong>제품의 퀄리티를 스콥 아웃하지 않습니다.</strong></li>
                </ul>
              </li>
              <li>스쿼드 업무 디스커버리 기간동안 타 스쿼드 업무를 병행했던 프로젝트입니다.<strong>팀 전체의 비즈니스 임팩트</strong>를 항상 고려하며, <strong>잘 모르는 분야도 도전하고 성취하는 것을 즐깁니다.</strong></li>
              <li>테스트 케이스와 설계에 대한 피드백을 수시로 요청했습니다. 그 결과 <strong>문제가 될 지점들을 빠르게 발견하는 등 리스크를 관리하며 프로젝트를 마무리</strong>했습니다.</li>
            </ul>
          </div>
        </div>

        <hr class="portfolio__project-divider"/>

        <div class="portfolio__project">
          <h4 class="portfolio__project-title">글로벌 시장 대응을 위한 국제화(i18n) 및 번역 자동화 구축</h4>
          <div><strong>역할:</strong> 백엔드 국제화 대응 및 번역 자동화 구축</div>
          <div class="portfolio__skills"><strong>기술 스택:</strong> Python, Django, MySQL, Crowdin, GitHub Actions</div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 정의</div>
            <div>
                <br>제품의 국제화 및 번역 자동화를 구축한 프로젝트이며, 한국어와 영어, 일어를 지원했습니다.
                <br><strong>개발자가 개발을 하면서 infra 차원에서 고민할 것이 없도록 구현</strong>했습니다.
            </div>
          </div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 해결</div>
            <ul>
              <li>백엔드 코드 전반에 국제화를 적용했습니다.
                <ul>
                  <li>데이터베이스에 저장되는 값은 테깅한 채로 저장하고 파싱해 번역하도록 공통 util을 만드는 등, 각 케이스에 대한 해결 방법을 고안하고 문서화했습니다.</li>
                  <li>국제화 지원이 아주 성숙하지 않은 단계에서 데이터베이스에 저장하는 값은 새로운 컬럼에 저장해, 최악의 상황에 서비스 롤백이 용이하도록 구현했습니다.</li>
                </ul>
              </li>
              <li>GitHub Actions를 통해 PO 파일 생성과 Crowdin 업로드를 자동화하고, 번역이 완료되면 MO 파일을 생성하여 PR을 자동 생성하도록 구성했습니다.
                <ul>
                  <li>개발자는 번역이 필요한 텍스트에 tag만 붙이면 되도록 구현해, 추가적인 리소스를 사용하지 않도록 했습니다.</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="portfolio__section portfolio__section--result">
            <div class="portfolio__project-content-title">성과 & 배움</div>
            <ul>
              <li><strong>국제화 지원으로 만명 이상의 글로벌 엔터프라이즈 기업 등 고객사 확보</strong></li>
              <li>AI 번역부터 번역 자동화 구축으로 업무를 효율화했으며, <strong>영어/일어 지원으로 시장을 확장</strong>했습니다.</li>
            </ul>
          </div>
        </div>

        <hr class="portfolio__project-divider"/>

        <div class="portfolio__project">
          <h4 class="portfolio__project-title">구독 정책 고도화 및 특약 지원</h4>
          <div><strong>역할:</strong> 특약 구독 설계 및 구현 주도. 레거시 청산 및 QA 효율화를 위한 사내 시스템 구축</div>
          <div class="portfolio__skills"><strong>기술 스택:</strong> Python, Django, React, MySQL, Appsmith</div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 정의</div>
            <div>
              기존 구독 시스템은 고객사별 특약을 반영하기 어려운 구조로 되어 있어, 특약 계약이 필요한 경우 현금 결제와 계약서 수기 처리, 세금계산서 수동 발행 등 수작업 업무가 반복적으로 발생했습니다.
              <br>구독 도메인을 고도화해 특약 조건을 유연하게 적용할 수 있도록 구현했습니다.
              <br>당시 1명의 백엔드 엔지니어에게 과도하게 의존하던 구독 도메인의 <strong>병목 문제를 공감하고, 주도적으로 설계·구현에 참여</strong>했습니다.
              <br><strong>특약 설계와 구현부터 레거시 청산, 유닛 테스트 보강 및 QA 체계 개선까지 엔드투엔드로 주도하며 안정적인 구조 개선</strong>을 이끌었습니다.
            </div>
          </div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 해결</div>
            <ul>
              <li>고객사별 특약을 반영할 수 있도록 구독을 재설계하고, 레거시를 청산하는 작업을 진행했습니다.
                <ul>
                  <li>기간 내 전체 구조를 전면 개편하기 어렵다고 판단해, <strong>전략 패턴을 적용해 특약 처리 로직을 분리하고 기존 로직에 문제가 발생하는 것을 방지</strong>했습니다.</li>
                  <li>프론트엔드에 분산되어 강결합된 비즈니스 로직을 백엔드로 이관하고, API를 책임에 따라 분리해 변경이 쉽도록 개선했습니다.</li>
                  <li>레거시로 인한 차질이 생기지 않도록 <strong>이슈를 레이징해 팀이 문제를 인식하는 것을 중요하게 생각</strong>했습니다.</li>
                </ul>
              </li>
              <li>테스트 보완과 QA 체계 개선을 통해 변경에 따른 리스크를 헷징하고, 제품 전체의 품질을 지속적으로 높게 유지했습니다.
                <ul>
                  <li>통합 테스트 중심의 기존 구조에서 유닛 테스트를 추가해 리스크를 관리했고, <strong>변경 시 발생할 수 있는 이슈를 조기 탐지</strong>할 수 있도록 했습니다.</li>
                  <li>QA를 위해서 개발자가 직접 구독 상태를 만들어줘야 했던 상태로, <strong>사내 시스템을 구현해 QA 담당자가 직접 다양한 구독 시나리오를 테스트할 수 있도록 개선</strong>했으며 이 또한 프로젝트 기간 내에 완료해 QA 진행을 도왔습니다.</li>
                  <li><strong>Django Template을 활용한 MVC 패턴으로 개발</strong>했으며, <strong>Cursor 등 AI 기반 개발 보조 툴</strong>을 활용해 <strong>빠르게 구축</strong>했습니다.</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="portfolio__section portfolio__section--result">
            <div class="portfolio__project-content-title">성과 & 배움</div>
            <ul>
              <li>레거시 청산과 구독 도메인 개선을 주도하며, 팀 내 버스펙터를 높이고 조직의 기술 부채를 줄였습니다.</li>
              <li><strong>기존에 수작업으로 진행되던 특약 기반의 결제 및 관리 프로세스를 제품 내에서 자동화</strong>함으로써, <strong>운영 공수 절감</strong> 및 <strong>QA 효율화</strong></li>
              <li><strong>불편함이나 비효율을 개선해 팀 전체의 업무 효율을 높이는 것을 지향</strong>합니다. 개발자의 역량으로 비용을 줄이고 팀 전체의 효율을 올릴 수 있음을 배웠습니다.</li>
            </ul>
          </div>
        </div>

        <hr class="portfolio__project-divider"/>

        <div class="portfolio__project">
          <h4 class="portfolio__project-title">모바일 앱 리뷰 작성 지원</h4>
          <div><strong>역할:</strong> 모바일 리뷰 정책 수립 & 프로젝트 리드</div>
          <div class="portfolio__skills"><strong>기술 스택:</strong> React Native, Python, Django, MySQL</div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 정의</div>
            <div>
              제조업과 같이 데스크톱 환경을 사용하기 어려운 직군은 모바일 지원이 딜브레이커가 됩니다.
              <br>엔터프라이즈급 기업에서 분석 리포트 니즈 증가와 함께 모바일 환경에서의 리뷰 지원의 비즈니스 임팩트가 증가했습니다.
              <br>개발자의 역량만으로 비즈니스 확장을 꾀할 수 있다 판단해 주도적으로 리드했던 프로젝트입니다.
            </div>
          </div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 해결</div>
            <ul>
              <li>모바일 환경이 필요한 대부분의 고객사의 경우 복잡한 형태의 평가를 필요로 하지 않다는 것 등 고객 니즈를 분석하였고, 이를 바탕으로 지원 범위를 정의해 제안했습니다.</li>
              <li>API, UI 설계부터 구현까지 전반적인 부분을 책임졌으며, 모바일은 코드 리뷰 이후 수정과 리팩토링은 프론트 엔지니어에게 위임해 마무리했습니다.</li>
              <li>리소스 제한으로 지원하지 못한 케이스에 대해 Amplitude를 통해 데이터를 수집했고, 다음 scope과 모바일 확장에 대한 의사결정에 활용했습니다.</li>
            </ul>
          </div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">성과 & 배움</div>
            <ul>
              <li>모바일 지원이 딜브레이커였던 기업들의 도입으로 <strong>배포 직후 모바일 리뷰 사용자가 1000명 이상 도달</strong></li>
              <li>
                회고를 통해 반응형 설계에 대한 어려움과 모바일 지원 이후의 유지보수 등 여러 방안에 대해 결과를 두고 제고했습니다.
                <br>제품 확장을 결정을 할 때, <strong>고객의 진짜 니즈는 무엇이며, 현재 비즈니스 상황과 무엇을 고려해야 하는 지 배웠습니다.</strong>
              </li>
            </ul>
          </div>
        </div>

        <hr class="portfolio__project-divider"/>

        <div class="portfolio__project">
          <h4 class="portfolio__project-title">LLM 기반 사내 AI Feature PoC 및 인프라 구축</h4>
          <div><strong>역할:</strong> Prompt 기법 리서치 및 SageMaker 인프라 구축과 제품 PoC</div>
          <div class="portfolio__skills"><strong>기술 스택:</strong> Python, FastAPI, LangChain</div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 해결</div>
            <div>
              LLM은 기존에 해결하기 어려웠던 문제들에 대해 새로운 가능성을 제시하지만, 동시에 정보 왜곡(할루시네이션)이나 운영 리스크 등 다양한 문제도 동반합니다.<br>
              사내 AI 기능 개발에 앞서 LLM의 활용 가능성과 한계를 사전에 검토하고, 인프로 구축부터 실제 제품 적용을 검증한 프로젝트입니다.
            </div>
          </div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 해결</div>
            <ul>
              <li>LLM에 대한 리서치를 바탕으로 LangChain과 FastAPI를 활용하여 사내 헬프 센터 AI 챗봇을 구현했습니다.
                <ul>
                  <li> Chain of Note 등 Prompt 방법론을 리서치하고 적용했고, <strong>주어진 Context 내에서 답변할 수 없거나(Unknown Robustness), 잘못된 답변(Noisy Robustness)를 하지 않도록 개선</strong>했습니다.</li>
                </ul>
              </li>
              <li>제품 내에 LLM기반의 AI feature 개발을 위해 인프라 구축부터 제품 적용까지 검증했습니다.
                <ul>
                  <li>SageMaker와 Bedrock 기반 인프라 구축을 리서치하였으며, 그 중 SageMaker 기반 인프라를 구축해 <strong>사내 AI 해커톤을 진행</strong>했습니다.</li>
                  <li>VoC와 니즈를 바탕으로 해커톤 진행했고, <strong>대규모 고객사의 서베이 결과 분석 기능을 구현해 실질적인 해결책이 될 수 있음</strong>을 확인했습니다.</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="portfolio__section portfolio__section--result">
            <div class="portfolio__project-content-title">성과 & 배움</div>
            <ul>
              <li>유사한 질문에 대한 캐싱으로 토큰 수 관리, 할루시네이션 대책 등 운영에 반영하기 위해 <strong>고려해야할 것들을 잘 정리하고 공유하였고, 제품 내 데이터 분석에서 LLM을 활용하는데에 기여</strong>하였습니다.</li>
            </ul>
          </div>
        </div>

        <hr class="portfolio__project-divider"/>

        <div class="portfolio__project">
          <h4 class="portfolio__project-title">성능 테스트 환경 구축</h4>
          <div><strong>역할:</strong> 성능 테스트 리서치 및 인프라 구축</div>
          <div class="portfolio__skills"><strong>기술 스택:</strong> Python, Django, k6, Grafana, Datadog, GitHub Actions</div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 정의</div>
            <div>
                제품이 성장함에 따라 서비스의 capacity를 예측하고 안정적으로 서비스 제공이 가능한 지 검증하는 것이 필요해졌습니다.
                <br>성능 테스트 환경이 전무한 상태에서 구축했던 과제였습니다.
              </div>
          </div>
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 해결</div>
            <ul>
              <li>성능 테스트와 성능 테스트 도구에 대한 전반적인 리서치를 진행하고 공유했습니다. <ul>
                <li>그 중 k6의 사용법과 우리의 환경에서 실사용 시의 장단을 리서치하고 실제 사용 시나리오를 기반으로 PoC를 진행해 공유하였습니다.</li>
              </ul></li>
              <li>환경 구축이란 과제의 범위를 local과 GitHub Action에서의 On-demand 환경으로 정의하고, 결과를 도출해냈습니다.<ul>
                <li>GitHub Actions으로 실제 개발 서버와 유사한 환경에서 시나리오를 반복적으로 테스트할 수 있도록 구현했습니다.</li>
              </ul></li>
            </ul>
          </div>
          <div class="portfolio__section portfolio__section--result">
            <div class="portfolio__project-content-title">성과 & 배움</div>
            <ul>
              <li>문제 해결 범위를 명확히 재정의하고, 빠르게 가치를 전달하며 실험했습니다. 프로젝트를 방향성에 맞게 마무리하고, 결과를 내부 엔지니어들과 공유했습니다.</li>
              <li><strong>리서치에 대한 깊이 있는 파고듦과 문서화</strong>가 강점이며, 적용할 부분을 코드 레벨에서 직접 해보고, 정리하는 것 또한 뛰어나다는 피드백을 받았습니다. <strong></strong></li>
              <li><strong>성능 테스트 환경 구축 관련 기술 블로그 기고</strong>(https://blog.lemonbase.team/백엔드-기술과제-성능-테스트-환경-구축-2f0dfd5ce9c3)</li>
            </ul>
          </div>
        </div>
      </div>

      <hr class="portfolio__company-divider"/>
    </div>
    <!-- 회사별 반복 끝 -->

    <!-- 다음 회사 반복 시작 -->
    <div class="portfolio__company-group">
      <h2 class="portfolio__company-title">(주)헥슬란트 | Backend Engineer | 2021.04 ~ 2023.08 (2년 5개월)</h2>
      <div class="portfolio__project">
        <h3 class="portfolio__project-title">Solana(솔라나) 입출금 지원 및 입금 아키텍처 개선</h3>
        <div><strong>역할:</strong> 설계 및 개발 리드 (아키텍처 설계, DB 설계, 구현 전반)</div>
        <div class="portfolio__skills"><strong>기술 스택:</strong> Typescript, NestJS, ElasticCache(Redis), BullMQ</div>
        <div class="portfolio__section">
          <div class="portfolio__project-content-title">문제 정의</div>
          <div>
            솔라나는 평균 TPS가 3000이 넘어가는 블록체인 플랫폼입니다.
            <br>한 transaction에는 여러 event가 발생하므로 블록 당 처리해야하는 event는 약 10,000건이 넘어갑니다.
            <br>기존 입금 처리 로직으로는 cron job이 일정 주기마다 쌓인 블록을 처리하는 방식으로 솔라나와 같이 처리량이 매우 많아진 사항을 처리할 수 없습니다.
            <br>솔라나의 높은 TPS와 이벤트 처리량을 감당하기 위해 병렬 처리 아키텍처로 전환했습니다.
          </div>
        </div>
        <div class="portfolio__section">
          <div class="portfolio__project-content-title">문제 해결</div>
          <ul>
            <li>두 가지 방안을 비교했으며, 최종적으로 <strong>BullMQ</strong>를 활용해 블록을 병렬 처리하도록 구현했습니다.<ul>
              <li><strong>모듈러 연산 기반 Job 분산</strong>: 처리할 블록을 job 단위로 분할하는 방식으로, 구현이 단순하고 기존 아키텍처와 유사하다는 장점이 있습니다. 하지만 DB와의 결합도가 높고 job 수 변경 시 도메인과 DB 양쪽에 수정이 필요하며, 특정 job 실패 시 해당 모듈러에 속한 블록 전체 처리가 지연된다는 단점이 있습니다.</li>
              <li><strong>Message Queue 기반 처리 (채택)</strong>: 아키텍처 변경에 대한 고려가 더 필요했지만, 확장성과 장애 대응이 유연하다는 장점이 있습니다. 실패한 작업만 재처리할 수 있다는 것 또한 큰 장점입니다.</li>
            </ul></li>
            <li>이미 사용 중인 <strong>ElasticCache</strong>를 기반으로 구축해 인프라 부담을 줄였으며, 처리할 블록 정보를 가져오는 통신 레이어를 추상화해 의존을 역전 시켜 향후 인프라 변경에 용이하도록 설계했습니다.</li>
          </ul>
       </div>
        <div class="portfolio__section portfolio__section--result">
          <div class="portfolio__project-content-title">성과 & 배움</div>
          <ul>
            <li><strong>Message Queue 기반 병렬 처리 구조</strong>로 전환하는 비교적 큰 변화였음에도 <strong>2주 내에 완료</strong>
              <ul>
                <li><strong>초기 설계 단계에서 입금 도메인과 블록 처리 도메인을 명확히 분리</strong>해 두었기 때문에, MQ 도입 시에도 <strong>최소한의 수정으로 전환</strong></li>
              </ul>
            </li>
            <li>기존 로직에서는 블록 처리 지연으로 서비스가 불가능했지만, <strong>개선 후에는 블록 생성 후 1초 이내 입금 반영이 가능한 수준으로 개선</strong></li>
          </ul>
        </div>
      </div>
      <hr class="portfolio__project-divider"/>
      <div class="portfolio__project">
        <h3 class="portfolio__project-title">Stake 자산 예치 및 운용</h3>
        <div><strong>역할:</strong> 개발 리드 (API 명세, DB 모델링 설계, 구현 전반)</div>
        <div class="portfolio__skills"><strong>기술 스택:</strong> Typescript, NestJS, MySQL</div>
        <div class="portfolio__section">
          <div class="portfolio__project-content-title">문제 정의</div>
          <div>PoS 합의 알고리즘을 사용하는 블록체인 Validator에 자산을 예치하고 운용하는 프로젝트입니다.</div>
        </div>
        <div class="portfolio__section">
          <div class="portfolio__project-content-title">문제 해결</div>
          <ul>
            <li>PoS를 합의 알고리즘으로 하는 블록체인을 리서치하였고, 리서치를 토대로 <strong>Stake라는 도메인을 정의하고 제품 솔루션을 도출하는 등 기획 전반을 리드</strong>했습니다.</li>
            <li>도메인 정의를 바탕으로 API 명세서 작성, 데이베이스 설계부터 구현까지 개발 전반을 담당했습니다.</li>
            <li>Stake라는 도메인의 공통 동작을 추상화 체인 별로의 구체적인 동작을 은닉해 <strong>타 도메인과의 의존을 끊어 유지 보수가 수월하도록 작업</strong>했습니다.</li>
          </ul>
        </div>

      </div>
        <div class="portfolio__section portfolio__section--result">
          <div class="portfolio__project-content-title">성과 & 배움</div>
          <ul>
            <li>자산 예치, 보상 추적, 출금까지 <strong>MVP 기능 2주 내 구현</strong></li>
            <li><strong>전통 금융권 등의 고객사를 유치</strong>하고 제품이 성장하는데 기여</li>
            <li>이전의 코드들은 절차 지향적으로, 거대한 로직 중 아주 일부분의 코드를 수정하는 것이 무서웠던 경험들이 있습니다. 이런 경험들로 <strong>자주 변경되는 도메인을 분리하고 유지 보수에 용의하도록 개발하는 것을 지향하며, 그 이점을 배운 프로젝트</strong>입니다.</li>
          </ul>
        </div>
      </div>
      <hr class="portfolio__company-divider"/>
    </div>
    <!-- 다음 회사 반복 끝 -->

    <!-- 인턴/산학협력 등 반복 시작 -->
    <div class="portfolio__company-group">
      <h2 class="portfolio__company-title">(주)헥슬란트 | 산학 협력 인턴 | 2020.03 ~ 2021.03 (1년)</h2>
      <div class="portfolio__project">
        <h3 class="portfolio__project-title">Multi-Party Computation Based Threshold Signature</h3>
        <div><strong>역할:</strong> 논문 & 오픈 소스 리서치, 제품 PoC 설계 및 구현, 특허 등록</div>
        <div class="portfolio__skills"><strong>기술 스택: Rust, Rocket, Node.js, Express, MySQL</strong> </div>
        <div class="portfolio__section">
          <div class="portfolio__project-content-title">문제 정의</div>
          <div>
            Multi-Party Computation(MPC)은 연산에 참여하는 각 party의 input이 들어나지 않은 채로 모든 party가 동일한 결과들 얻도록 하는 연산 방식입니다.
            <br>지갑 서비스에서 가장 중요한 비밀값은 private key입니다. 대게의 경우 multi-sig를 사용해 private key를 분산 보관합니다. 하지만 서명하거나 키를 생성할 때 private key 원형이 노출되는 single point of failure가 존재한다는 단점이 있습니다.
            <br>이런 보안 이슈를 극복하기 위해 MPC를 활용합니다.
          </div>
        </div>
        <div class="portfolio__section">
          <div class="portfolio__project-content-title">문제 해결</div>
          <ul>
            <li>논문과 오픈 소스를 리서치하고, MPC 연산을 사용해 블록체인 트랜잭션에 서명하고 전송하는 테스트 진행했습니다.</li>
            <li>제품에 적용하기 위한 아키텍쳐와 데이터베이스 설계, 구현까지 PoC 전반을 담당했습니다.
              <ul>
                <li>Rust Rocket의 오픈 소스를 기반으로 2 party 형식의 peer-2-peer 서버를 구현하고, 지갑 서비스와 연동해 제품에 적용까지 PoC를 마무리했습니다.</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="portfolio__section portfolio__section--result">
          <div class="portfolio__project-content-title">성과 & 배움</div>
          <ul>
            <li><strong>리서치부터 오픈소스 테스트와 제품 설계까지 모든 과정을 주도</strong>한 프로젝트로 <strong>실질적인 문제 해결 경험</strong>을 쌓았습니다.</li>
            <li>이 경험을 바탕으로 <strong>[DID 서명 및 검증을 이용한 임계 서명 시스템과 방법](등록번호 1023484010000, 2022.01.04) 특허를 등록</strong>했습니다.</li>
          </ul>
        </div>
      </div>
      <hr class="portfolio__company-divider"/>
    </div>
    <!-- 인턴/산학협력 등 반복 끝 -->
  </div>
  <!-- 회사별 반복 끝 -->
</div>
