<div class="portfolio">
  <h1 class="portfolio__title">Portfolio</h1>
  <h2 class="portfolio__subtitle">TECHNICAL CHALLENGES & LEARNINGS</h2>

  {% assign sorted_careers = site.career | sort: 'order' | reverse %}
  {% for career in sorted_careers %}
  
  <div class="portfolio__company-group">
    <h2 class="portfolio__company-title">
      {{ career.company }} | {{ career.position }} | 
      {{ career.start_date }} ~ {{ career.end_date }}
      {% if career.duration %} ({{ career.duration }}{% if career.termination_reason %}, {{ career.termination_reason }}{% endif %}){% endif %}
    </h2>

    {% for project_group in career.project_groups %}
    <div class="portfolio__project">
      {% if project_group.group_title != "" %}
      <h3 class="portfolio__project-group-title">{{ project_group.group_title }}</h3>
      {% endif %}
      
      <div class="portfolio__project-group">
        {% for project in project_group.projects %}
        <div class="portfolio__project">
          <h4 class="portfolio__project-title">{{ project.title }}</h4>
          <div><strong>역할: </strong>{{ project.role }}</div>
          <div class="portfolio__skills"><strong>기술 스택:</strong> {{ project.skills }}</div>
          
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 정의 및 가설</div>
            <ul>
              {% for item in project.definition_and_hypothesis %}
              <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
          
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">문제 해결</div>
            <ul>
              {% for item in project.solution %}
              <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
          
          <div class="portfolio__section">
            <div class="portfolio__project-content-title">성과 & 배움</div>
            <ul>
              {% for item in project.performance_and_learning %}
              <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
       </div>
        
        {% unless forloop.last %}
        <hr class="portfolio__project-divider"/>
        {% endunless %}
        {% endfor %}
      </div>
    </div>
    
    {% unless forloop.last %}
    <hr class="portfolio__project-group-divider"/>
    {% endunless %}
    {% endfor %}
    
    <hr class="portfolio__company-divider"/>
  </div>
  
  {% endfor %}
</div>
