<div class="resume">
  <article class="page sans">
    <header>
      <h1 class="resume__title">이민성 | Software Engineer</h1>
      <p class="page-description"></p>
    </header>
    <div class="page-body">
      <div class="resume__column-list">
        <div class="resume__column resume__contact" style="width:20%">
          <h2 class="resume__contact-title resume__block-color-default">Contact</h2>
          <hr class="resume__divider--small"/>
          <p class="resume__contact-item">📞 <strong>+82 1053536972</strong></p>
          <p class="resume__contact-item">📧 <strong>dlaepeul@gmail.com</strong></p>
          <p class="resume__contact-item">🌐 <a href="https://minseon9.github.io/about/">minseon9.github.io</a></p>
          <p class="resume__contact-item resume__contact-github"><img alt="github" src="/assets/images/career/github.svg" style="width:1em;height:1em"/> <a href="https://github.com/minseon9">minseon9</a></p>
        </div>
        <div class="resume__column resume__about" style="width:80%">
          <h2 class="resume__about-title">About me</h2>
          <figure class="resume__about-callout resume__block-color-default resume__callout">
              <p class="resume__about-desc"><strong>소프트웨어학과를 </strong>전공하고, <strong>약 4년이 동안 백엔드 엔지니어</strong>로 경험을 이어왔습니다. 블록체인 B2B 지갑 서비스로 업무를 시작해, HR 도메인에서 문제 해결 능력을 쌓았습니다.<br/><br/><br/>함께 일하는 것을 중요하게 생각합니다.<br/>각자의 자리에서 결과물을 만들어내는 것 또한 중요하지만, <br/>팀으로서 마주한 문제에 몰입하고, 치열하게 문제를 해결하는 문화를 지향합니다.<br/></p>
          </figure>
        </div>
      </div>
      <hr class="resume__divider"/>
      <h1 class="resume__section-title">Experience (4년 2개월 ~ )</h1>
      <div class="resume__column-list resume-section">
        <div class="resume__column" style="width:12.5%">
          <figure class="resume__image"><a href="/assets/images/career/image.png"><img style="width:240px" src="/assets/images/career/image.png"/></a></figure>
          <h3 class="resume__company-name">Lemonbase</h3>
          <h3 class="resume__job-position">Backend Engineer</h3>
          <p class="resume__period">2025.08 ~ 2025.06 (1년 10개월; 경영 악화로 인한 퇴직)</p>
        </div>
        <div class="resume__column" style="width:87.5%">
         <h3 class="resume__subtitle">“구독형 HR SaaS 개발/운영/유지보수”</h3>
         <ul class="resume__bulleted-list">
            <li><strong>리뷰/평가 제품 개발 및 고도화</strong>
              <ul class="resume__bulleted-list">
                <li><mark class="resume__highlight-gray">상대 평가, 리뷰 결과지 고도화, 정량 평가 등 HR 평가 기능 개발 및 legacy 개선</mark></li>
                <li><mark class="resume__highlight-gray">관리자 계정이 다른 사용자의 계정으로 로그인할 수 있는 기능 구현으로 평가 제도를 안정적으로 운영할 수 있도록 개선</mark></li>
                <li><mark class="resume__highlight-gray">제품 별 해야 할 일 기능 및 알림 센터 개편 등 홈 화면 개편을 통해 제품 진입 동선 단축 및 주요 작업 가시성 향상</mark></li>
              </ul>
            </li>
          </ul>

          <ul class="resume__bulleted-list">
            <li><strong>다수 TF 진행 및 비지니스 임팩트 창출</strong>
              <ul class="resume__bulleted-list">
                <li><mark class="resume__highlight-gray">Magic Link 기반 비로그인 서베이 답변 제출 및 SMS 지원으로 엔터프라이즈 기업 확보</mark></li>
                <li><mark class="resume__highlight-gray">글로벌 시장 대응을 위한 국제화(i18n) 및 번역 자동화 구축</mark></li>
                <li><mark class="resume__highlight-gray">특약 구독 요금제 설계 및 구현으로 업무 효율화</mark></li>
                <li><mark class="resume__highlight-gray">성능 테스트 환경 구축 및 대규모 고객사 확보에 따른 API 성능 최적화</mark></li>
                <li><mark class="resume__highlight-gray">모바일 리뷰 지원 프로젝트 리드</mark></li>
                <li><mark class="resume__highlight-gray">LLM 인프라 구축 및 서베이 결과 분석 등 AI feature PoC</mark></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <hr class="resume__divider"/>
      <div class="resume__column-list resume-section">
        <div class="resume__column" style="width:12.5%">
          <figure class="resume__image"><a href="/assets/images/career/image1.png"><img style="width:120px" src="/assets/images/career/image1.png"/></a></figure>
          <h3 class="resume__company-name">Hexlant</h3>
          <h3 class="resume__job-position">Backend Engineer</h3>
          <p class="resume__period">2021.04 ~2023.08 (2년 5개월)</p>
          <h3 class="resume__job-position">산학 협력 인턴</h3>
          <p class="resume__period">2020.03 ~2021.03 (1년)</p>

        </div>
        <div class="resume__column" style="width:87.5%">
         <h3 class="resume__subtitle">“B2B 블록체인 지갑 서비스 개발 및 기술 리서치”</h3>
         <ul class="resume__bulleted-list">
            <li><strong>블록체인 지갑 서비스 V2 전환 및 유지 보수 </strong>
              <ul class="resume__bulleted-list">
                <li><mark class="resume__highlight-gray">Express.js의 서비스를 Nest.js로 마이그레이션</mark></li>
              </ul>
              <ul class="resume__bulleted-list">
                <li><mark class="resume__highlight-gray">솔라나, Hyperledger Fabric 기반 Private Chain 등 지원 블록체인 플랫폼 확장</mark></li>
                <li><mark class="resume__highlight-gray">평균 TPS 3000 블록체인 플랫폼을 고려한 입금 아키텍쳐 개선</mark></li>
              </ul>
            </li>
          </ul>
          <ul class="resume__bulleted-list">
            <li><strong>블록체인 표준/기술 리서치 및 서비스 확장</strong>
              <ul class="resume__bulleted-list">
                <li><mark class="resume__highlight-gray">Stake 자산 예치 및 운용 기획 및 개발 리드</mark></li>
              </ul>
              <ul class="resume__bulleted-list">
                <li><mark class="resume__highlight-gray">EIP-721, EIP-1155 기반 NFT 자산 입출금 지원 기능 구현</mark></li>
              </ul>
              <ul class="resume__bulleted-list">
                <li><mark class="resume__highlight-gray">체인 별 Stake, NFT 등 기술 리서치, 문서화 및 내부 기술 세미나</mark></li>
              </ul>
            </li>
          </ul>
          <hr class="resume__divider"/>
          <h3 class="resume__subtitle">“Multi-Party Computation 기반 키 관리 및 서명 솔루션 개발”</h3>
          <ul class="resume__bulleted-list">
            <li><strong>2-party 기반 키 생성 및 서명 시스템 개발 및 지갑 서비스에 PoC</strong></li>
          </ul>
          <ul class="resume__bulleted-list">
            <li><strong>[</strong><em><strong>DID 서명 및 검증을 이용한 임계 서명 시스템과 방법</strong></em><strong> ] 특허 등록</strong>
              <ul class="resume__bulleted-list">
                <li><em><mark class="resume__highlight-gray">등록번호(일자) 1023484010000(2022.01.04)</mark></em></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <hr class="resume__divider"/>
      <div class="resume-section">
        <h1 class="resume__section-title resume__block-color-default">Skills ✏️</h1>
        <h3 class="resume__subsubtitle">Languages & Frameworks</h3>
        <ul class="resume__skills-list">
          <li><strong>Back-end:</strong> TypeScript (NestJS), Python (Django), Node.js (Express)</li>
        </ul>
        <ul class="resume__skills-list">
          <li><strong>Front-end:</strong> JavaScript, React.js, HTML/CSS</li>
        </ul>
        <h3 class="resume__subsubtitle">Databases & Storage</h3>
        <ul class="resume__skills-list">
          <li><strong>RDBMS:</strong> MySQL, PostgreSQL</li>
        </ul>
        <ul class="resume__skills-list">
          <li><strong>In-memory DB:</strong> Redis</li>
        </ul>
        <h3 class="resume__subsubtitle">Devops & Infra</h3>
        <ul class="resume__skills-list">
          <li><strong>Devops</strong>: Docker, AWS, GitHub Actions, Github CI/CD</li>
        </ul>
        <ul class="resume__skills-list">
          <li><strong>Event Streaming</strong> / <strong>Messaging Queue: </strong>Apache Kafka, BullMQ</li>
        </ul>
        <h3 class="resume__subsubtitle">Tools</h3>
        <ul class="resume__skills-list">
          <li>Git, Github, BitBucket</li>
        </ul>
        <ul class="resume__skills-list">
          <li>Appsmith, Amplitude, Sendgrid, NHN SMS</li>
        </ul>
      </div>
      <hr class="resume__divider"/>
      <h1 class="resume__section-title">Education </h1>
      <div class="resume__column-list resume-section">
        <div class="resume__column" style="width:12.5%">
          <figure class="resume__image"><a href="/assets/images/career/Emblem_02.jpg"><img style="width:132px" src="/assets/images/career/Emblem_02.jpg"/></a></figure>
        </div>
        <div class="resume__column" style="width:87.5%">
          <h3 class="resume__subsubtitle">성균관대학교 소프트웨어학과</h3>
          <p class="resume__highlight-gray">2018.03 ~ 4학년 2학기 재학 중 (2026년 2월 졸업 예정)</p>
        </div>
      </div>
      <hr class="resume__divider"/>
      <h1 class="resume__section-title">Awards/Certificate</h1>
      <div class="resume__column-list resume-section">
        <div class="resume__column" style="width:25%">
          <p class="resume__awards-date">2021.11.26</p>
        </div>
        <div class="resume__column" style="width:100%">
          <h3 class="resume__subsubtitle">정보처리기사</h3>
          <p class="resume__highlight-gray"><em>Qualification Certification No.21203100715F </em></p>
        </div>
      </div>
      <div class="resume__column-list resume-section">
        <div class="resume__column" style="width:25%">
          <p class="resume__awards-date">2022.01.04</p>
        </div>
        <div class="resume__column" style="width:100%">
          <h3 class="resume__subsubtitle">[<em>DID 서명 및 검증을 이용한 임계 서명 시스템과 방법 </em>] 특허 등록</h3>
          <p class="resume__highlight-gray"><em>등록번호(일자) 1023484010000(2022.01.04) </em></p>
        </div>
      </div>
      <hr class="resume__divider"/>
      <div class="resume-section">
        <h1 class="resume__section-title">Additional Notes</h1>
        <ul class="resume__bulleted-list">
          <li><strong>2021년 11월부터 2024년 9월까지 산업 기능 요원</strong>으로 근무하여 군복무를 마쳤습니다.</li>
        </ul>
        <ul class="resume__bulleted-list">
          <li>현재 학부 졸업을 위해 대학교 재학 중이며, <strong>2026년 2월 졸업 예정</strong>입니다.</li>
        </ul>
      </div>
    </div>
  </article>
</div>
