---
layout: archive
---

{{ content }}

<div class="home-layout">
  <div class="home-header">
    <h1 class="home-title">{{ site.data.ui-text[site.locale].recent_posts | default: "Recently Updated" }}</h1>
  </div>

  {% assign wiki = site.posts %}
  {% assign entries_layout = page.entries_layout | default: 'list' %}
  <div class="entries-{{ entries_layout }} home-entries">
    {% include documents-collection.html entries=wiki type=entries_layout limit=5 sort_by='updated' sort_order='reverse' %}
  </div>

  <div class="home-footer">
    <a href="/wiki/" class="see-all-link">SEE ALL POST ></a>
  </div>
</div>

<!--{% include paginator.html %}-->
