---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recently updated wikis" }}</h3>

{% assign wiki = site.wiki  %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=wiki type=entries_layout limit=5 sort_by='updated' sort_order='reverse' %}


  {% if wiki.size > 5 %}
    <a href="/wiki/"> See all posts </a>
  {% endif %}
</div>


{% include paginator.html %}
