---
layout: archive
---

{{ content }}

{% assign all_tagged_posts = "" | split: "" %}
{% for post in site.posts %}
  {% if post.tags %}
    {% for tag in post.tags %}
      {% assign all_tagged_posts = all_tagged_posts | push: tag %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% assign unique_tags = all_tagged_posts | uniq %}

<ul class="taxonomy__index">
  {% for tag in unique_tags %}
    <li>
      <a href="/wiki/tags/{{ tag }}">
        <strong>{{ tag }}</strong>
        <span class="taxonomy__count">
          {{ site.posts | where_exp: "item", "item.tags contains tag" | size }}
        </span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for tag in unique_tags %}
  <section id="{{ tag }}" class="taxonomy__section">
    <h2 class="archive__subtitle">
      <a href="/wiki/tags/{{ tag }}">{{ tag }}</a>
    </h2>
    <div class="entries-{{ entries_layout }}">
      {% assign tagged_posts = site.posts | where_exp: "item", "item.tags contains tag" %}
      {% for post in tagged_posts %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
